@page
@model IndexModel
@{
    ViewData["Title"] = "Explique";
}

<head>
    <link rel="stylesheet" href="~/css/Default.css" asp-append-version="true" />
</head>
<main>
<section class="main-chat">
    <div>
        <h1>
            letreiro do chat
        </h1>
    </div>
</section>
<section>
    <div>
        <div class="display-submit">
            <input type="text" placeholder="Faça sua pergunta">
                <a><img src="./imgs/next.png" alt=""></a>
        </div>
    </div>
</section>
</main>