
    main {
    margin-left: 250px;
    padding: 10rem;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    }

    main .main-section {
        width: 100%;
        height: 100%;
    }

    main .display-submit {
        padding: 20px;
        border: 2px solid rgb(110, 192, 192);
        position: absolute;
        border-radius: 10px;
        bottom: 10%;
        left: 50%;
        transform: translate(-50%, 0);
        display: flex;
        align-items: center;
        gap: 7px;
    }

    main .display-submit input[type="text"] {
            border: 1px solid rgb(110, 192, 192);
            border-radius: 10px;
            padding: 6px;
            min-width: 50vw;
    }

    main .display-submit button {
            background-color: white;
            border-color: rgb(110, 192, 192);
            border-radius: 100px;
            padding: 5px 7px;
    }

    section .display-submit a img {
    width: 22px;
    height: auto;
    cursor: pointer;
    transition: .4s;
    }

    section .display-submit a img:hover {
        filter: drop-shadow(0px 0px 8px rgb(64, 148, 148));
    }

    main .display-submit input::placeholder {
    color: black;
}
     